Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices3317.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Marca" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Marca" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMarcaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarcaDTO" nillable="true" type="tns:MarcaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarcaDTO" nillable="true" type="tns:ArrayOfMarcaDTO" />
  <xs:complexType name="MarcaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarcaDTO" nillable="true" type="tns:MarcaDTO" />
</xs:schema>