Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices3342.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Coleccion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Coleccion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ColeccionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EditorialNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="esDescuento" type="xs:boolean" />
      <xs:element minOccurs="0" name="idColeccion" type="xs:int" />
      <xs:element minOccurs="0" name="idEditorial" type="xs:int" />
      <xs:element minOccurs="0" name="imagenColeccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imagenUrlColeccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreColeccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precioColeccion" type="xs:decimal" />
      <xs:element minOccurs="0" name="precioDescuentoColeccion" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColeccionDTO" nillable="true" type="tns:ColeccionDTO" />
  <xs:complexType name="ArrayOfColeccionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColeccionDTO" nillable="true" type="tns:ColeccionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColeccionDTO" nillable="true" type="tns:ArrayOfColeccionDTO" />
</xs:schema>