Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices334.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.General.Parameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.General.Parameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/GTRMServices.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarDistritoParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="departamento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="provincia" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDistritoParameter" nillable="true" type="tns:ListarDistritoParameter" />
  <xs:complexType name="AreaGeneralParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="prm_codigo_empresa" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="prm_codigo_padre" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AreaGeneralParameter" nillable="true" type="tns:AreaGeneralParameter" />
  <xs:complexType name="DashboardUltimoParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoUsuario" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DashboardUltimoParameter" nillable="true" type="tns:DashboardUltimoParameter" />
  <xs:complexType name="ListarProvinciaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q4:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="departamento" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarProvinciaParameter" nillable="true" type="tns:ListarProvinciaParameter" />
  <xs:complexType name="ObtenerCorrelativoNotifParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q5:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerCorrelativoNotifParameter" nillable="true" type="tns:ObtenerCorrelativoNotifParameter" />
  <xs:complexType name="BuscarTodoParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q6:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoRol" type="xs:int" />
          <xs:element minOccurs="0" name="Filtro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegistroFin" type="xs:int" />
          <xs:element minOccurs="0" name="RegistroInicio" type="xs:int" />
          <xs:element minOccurs="0" name="TotalRegistros" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuscarTodoParameter" nillable="true" type="tns:BuscarTodoParameter" />
  <xs:complexType name="ListarDepartamentosParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q7:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDepartamentosParameter" nillable="true" type="tns:ListarDepartamentosParameter" />
  <xs:complexType name="ObtenerCorrelativoParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q8:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerCorrelativoParameter" nillable="true" type="tns:ObtenerCorrelativoParameter" />
</xs:schema>