Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices337.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandContracts.Xmarket.Carrito" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandContracts.Xmarket.Carrito" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/GTRMServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Common" />
  <xs:complexType name="ActualizarProductoCarritoCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q1:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="Detalle" nillable="true" type="tns:ArrayOfCarritoDetalle" />
          <xs:element minOccurs="0" name="idCarrito" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActualizarProductoCarritoCommand" nillable="true" type="tns:ActualizarProductoCarritoCommand" />
  <xs:complexType name="ArrayOfCarritoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarritoDetalle" nillable="true" type="tns:CarritoDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarritoDetalle" nillable="true" type="tns:ArrayOfCarritoDetalle" />
  <xs:complexType name="CarritoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCrea" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModifica" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCarrito" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioCrear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioModificar" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SubTotal" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="TipoAccion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="formatoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idSesion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarritoDetalle" nillable="true" type="tns:CarritoDetalle" />
  <xs:complexType name="EliminarProductoCarritoCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q2:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="idCarrito" type="xs:long" />
          <xs:element minOccurs="0" name="idProducto" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EliminarProductoCarritoCommand" nillable="true" type="tns:EliminarProductoCarritoCommand" />
  <xs:complexType name="CarritoAgregarCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q3:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="Carrito" nillable="true" type="tns:Carrito" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CarritoAgregarCommand" nillable="true" type="tns:CarritoAgregarCommand" />
  <xs:complexType name="Carrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="CarritoCupon" nillable="true" type="tns:ArrayOfCarritoCupon" />
      <xs:element minOccurs="0" name="CodigoEstado" type="xs:int" />
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="tns:ArrayOfCarritoDetalle" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCarrito" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCrea" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModifica" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="IdCodSesionPublico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdIpPublica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSesion" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioCrear" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioModificar" type="xs:int" />
      <xs:element minOccurs="0" name="Latitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoDelivery" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MontoIGV" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MontoSubTotal" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="TotalPagar" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="esUsuarioAnonimo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carrito" nillable="true" type="tns:Carrito" />
  <xs:complexType name="ArrayOfCarritoCupon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarritoCupon" nillable="true" type="tns:CarritoCupon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarritoCupon" nillable="true" type="tns:ArrayOfCarritoCupon" />
  <xs:complexType name="CarritoCupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCupon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCarrito" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdCupon" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioCrea" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MontoProcentaje" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoProcentajeMoney" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarritoCupon" nillable="true" type="tns:CarritoCupon" />
  <xs:complexType name="CarritoRegistrarCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q4:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="Carrito" nillable="true" type="tns:Carrito" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CarritoRegistrarCommand" nillable="true" type="tns:CarritoRegistrarCommand" />
  <xs:complexType name="ArrayOfObservacionCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObservacionCarrito" nillable="true" type="tns:ObservacionCarrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObservacionCarrito" nillable="true" type="tns:ArrayOfObservacionCarrito" />
  <xs:complexType name="ObservacionCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObservacionCarrito" nillable="true" type="tns:ObservacionCarrito" />
</xs:schema>