Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices336.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Cliente.Result" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Cliente.Result" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/GTRMServices.svc?xsd=xsd50" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Cliente" />
  <xs:import schemaLocation="http://localhost:8082/GTRMServices.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ClienteDireccionLeerResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Cliente" minOccurs="0" name="direccion" nillable="true" type="q2:ClienteDireccionDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClienteDireccionLeerResult" nillable="true" type="tns:ClienteDireccionLeerResult" />
  <xs:complexType name="ClienteDireccionListarResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryResult">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Cliente" minOccurs="0" name="direcciones" nillable="true" type="q4:ArrayOfClienteDireccionDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClienteDireccionListarResult" nillable="true" type="tns:ClienteDireccionListarResult" />
  <xs:complexType name="ClienteLeerCorreoResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q5:QueryResult">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Cliente" minOccurs="0" name="Hit" nillable="true" type="q6:ClienteDTO" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Cliente" minOccurs="0" name="ListaRoles" nillable="true" type="q7:ArrayOfRolDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClienteLeerCorreoResult" nillable="true" type="tns:ClienteLeerCorreoResult" />
  <xs:complexType name="ClienteLeerResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q8:QueryResult">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Cliente" minOccurs="0" name="Hit" nillable="true" type="q9:ClienteDTO" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Cliente" minOccurs="0" name="ListaRoles" nillable="true" type="q10:ArrayOfRolDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClienteLeerResult" nillable="true" type="tns:ClienteLeerResult" />
  <xs:complexType name="ClienteLoginResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q11:QueryResult">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Cliente" minOccurs="0" name="Hits" nillable="true" type="q12:ArrayOfClienteDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClienteLoginResult" nillable="true" type="tns:ClienteLoginResult" />
</xs:schema>