Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Banner" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Banner" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBannerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BannerDTO" nillable="true" type="tns:BannerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBannerDTO" nillable="true" type="tns:ArrayOfBannerDTO" />
  <xs:complexType name="BannerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="autoresBanner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionBanner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="enlaceBanner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idBanner" type="xs:int" />
      <xs:element minOccurs="0" name="imagenBanner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imagenRutaBanner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isbnBook" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linkBook" type="xs:boolean" />
      <xs:element minOccurs="0" name="tipoBanner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tituloBanner" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BannerDTO" nillable="true" type="tns:BannerDTO" />
</xs:schema>