Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices3314.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Seguridad.Result" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Seguridad.Result" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/GTRMServices.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="AutorizacionRolResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="autorizado_generar" type="xs:boolean" />
          <xs:element minOccurs="0" name="numero_orden_retiro" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AutorizacionRolResult" nillable="true" type="tns:AutorizacionRolResult" />
  <xs:complexType name="BuscarPaginasResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfBuscarPaginasDto" />
          <xs:element minOccurs="0" name="totalregistros" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuscarPaginasResult" nillable="true" type="tns:BuscarPaginasResult" />
  <xs:complexType name="EliminarPaginaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EliminarPaginaResult" nillable="true" type="tns:EliminarPaginaResult" />
  <xs:complexType name="BuscarSistemasResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfBuscarSistemasDto" />
          <xs:element minOccurs="0" name="totalregistros" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuscarSistemasResult" nillable="true" type="tns:BuscarSistemasResult" />
  <xs:complexType name="ArrayOfBuscarSistemasDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuscarSistemasDto" nillable="true" type="tns:BuscarSistemasDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuscarSistemasDto" nillable="true" type="tns:ArrayOfBuscarSistemasDto" />
  <xs:complexType name="BuscarSistemasDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="pag_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="pag_int_secuencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_codmenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuscarSistemasDto" nillable="true" type="tns:BuscarSistemasDto" />
  <xs:complexType name="ListarAutorizadorPorAreaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfAutoriadorAreaDTO" />
          <xs:element minOccurs="0" name="total_registro" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarAutorizadorPorAreaResult" nillable="true" type="tns:ListarAutorizadorPorAreaResult" />
  <xs:complexType name="ArrayOfAutoriadorAreaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AutoriadorAreaDTO" nillable="true" type="tns:AutoriadorAreaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutoriadorAreaDTO" nillable="true" type="tns:ArrayOfAutoriadorAreaDTO" />
  <xs:complexType name="AutoriadorAreaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CO_USUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr_str_apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr_str_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutoriadorAreaDTO" nillable="true" type="tns:AutoriadorAreaDTO" />
  <xs:complexType name="ListarPaginaRolResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfPaginaROl" />
          <xs:element minOccurs="0" name="TotalRegistros" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPaginaRolResult" nillable="true" type="tns:ListarPaginaRolResult" />
  <xs:complexType name="ArrayOfPaginaROl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaginaROl" nillable="true" type="tns:PaginaROl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaginaROl" nillable="true" type="tns:ArrayOfPaginaROl" />
  <xs:complexType name="PaginaROl">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionPagina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Atributopagina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoMenuPagina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoMenuPaginaPadre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPagina" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPermiso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoRol" type="xs:int" />
      <xs:element minOccurs="0" name="ControllerPagina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePagina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMenuPagina" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginaROl" nillable="true" type="tns:PaginaROl" />
  <xs:complexType name="ListarOpcionesPaginasResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfOpcionesPaginaDTO" />
          <xs:element minOccurs="0" name="TotalRegistros" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarOpcionesPaginasResult" nillable="true" type="tns:ListarOpcionesPaginasResult" />
  <xs:complexType name="ArrayOfOpcionesPaginaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OpcionesPaginaDTO" nillable="true" type="tns:OpcionesPaginaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOpcionesPaginaDTO" nillable="true" type="tns:ArrayOfOpcionesPaginaDTO" />
  <xs:complexType name="OpcionesPaginaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoOpcion_RPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPagina_RPO" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoRol_RPO" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo_OPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_OPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCodigo_OPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Seleccionado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpcionesPaginaDTO" nillable="true" type="tns:OpcionesPaginaDTO" />
  <xs:complexType name="ListarTipoMenuResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfTipoMenuDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTipoMenuResult" nillable="true" type="tns:ListarTipoMenuResult" />
  <xs:complexType name="ArrayOfTipoMenuDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoMenuDTO" nillable="true" type="tns:TipoMenuDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoMenuDTO" nillable="true" type="tns:ArrayOfTipoMenuDTO" />
  <xs:complexType name="TipoMenuDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoTipoMenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Eliminado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreTipoMenu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoMenuDTO" nillable="true" type="tns:TipoMenuDTO" />
  <xs:complexType name="ObtenerOpcionesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q4:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hit" nillable="true" type="tns:OpcionesDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerOpcionesResult" nillable="true" type="tns:ObtenerOpcionesResult" />
  <xs:complexType name="OpcionesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoOpcion" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPagina" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoSesion" type="xs:int" />
      <xs:element minOccurs="0" name="Eliminado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioMidifica" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpcionesDTO" nillable="true" type="tns:OpcionesDTO" />
  <xs:complexType name="ListarOpcionesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q5:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfOpcionesDTO" />
          <xs:element minOccurs="0" name="TotalRegistros" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarOpcionesResult" nillable="true" type="tns:ListarOpcionesResult" />
  <xs:complexType name="ArrayOfOpcionesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OpcionesDTO" nillable="true" type="tns:OpcionesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOpcionesDTO" nillable="true" type="tns:ArrayOfOpcionesDTO" />
  <xs:complexType name="ListarRolesDashBoardResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q6:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfRolDTO" />
          <xs:element minOccurs="0" name="totalregistros" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarRolesDashBoardResult" nillable="true" type="tns:ListarRolesDashBoardResult" />
  <xs:complexType name="ArrayOfRolDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolDTO" nillable="true" type="tns:RolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolDTO" nillable="true" type="tns:ArrayOfRolDTO" />
  <xs:complexType name="RolDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="rol_bit_activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="rol_bit_publico" type="xs:boolean" />
      <xs:element minOccurs="0" name="rol_int_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="rol_str_alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rol_str_dashboard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rol_str_descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rol_str_usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolDTO" nillable="true" type="tns:RolDTO" />
  <xs:complexType name="ListarRolesTodoResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q7:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfRolDTO" />
          <xs:element minOccurs="0" name="totalregistros" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarRolesTodoResult" nillable="true" type="tns:ListarRolesTodoResult" />
  <xs:complexType name="ObtenerRolResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q8:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hit" nillable="true" type="tns:RolDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerRolResult" nillable="true" type="tns:ObtenerRolResult" />
  <xs:complexType name="ObtenerPasswordPorUsuarioResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerPasswordPorUsuarioResult" nillable="true" type="tns:ObtenerPasswordPorUsuarioResult" />
  <xs:complexType name="ListarUsuariosPorAreaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q9:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarUsuariosAreaDto" />
          <xs:element minOccurs="0" name="total_registro" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarUsuariosPorAreaResult" nillable="true" type="tns:ListarUsuariosPorAreaResult" />
  <xs:complexType name="ArrayOfListarUsuariosAreaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarUsuariosAreaDto" nillable="true" type="tns:ListarUsuariosAreaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarUsuariosAreaDto" nillable="true" type="tns:ArrayOfListarUsuariosAreaDto" />
  <xs:complexType name="ListarUsuariosAreaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="NU_CELULAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="usr_int_numintentos" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="usr_str_apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr_str_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr_str_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarUsuariosAreaDto" nillable="true" type="tns:ListarUsuariosAreaDto" />
  <xs:complexType name="DesbloquearUsuarioResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q10:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="result" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DesbloquearUsuarioResult" nillable="true" type="tns:DesbloquearUsuarioResult" />
  <xs:complexType name="EliminarRolResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q11:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Estado" type="xs:int" />
          <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EliminarRolResult" nillable="true" type="tns:EliminarRolResult" />
  <xs:complexType name="EliminarUsuarioResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EliminarUsuarioResult" nillable="true" type="tns:EliminarUsuarioResult" />
  <xs:complexType name="EncriptarPasswordResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="filas_afectadas" type="xs:int" />
          <xs:element minOccurs="0" name="usr_str_email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EncriptarPasswordResult" nillable="true" type="tns:EncriptarPasswordResult" />
  <xs:complexType name="GenerarPasswordResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GenerarPasswordResult" nillable="true" type="tns:GenerarPasswordResult" />
  <xs:complexType name="ListarClientesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q12:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarClientesDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarClientesResult" nillable="true" type="tns:ListarClientesResult" />
  <xs:complexType name="ArrayOfListarClientesDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarClientesDto" nillable="true" type="tns:ListarClientesDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarClientesDto" nillable="true" type="tns:ArrayOfListarClientesDto" />
  <xs:complexType name="ListarClientesDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cli_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="cli_razonsocial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarClientesDto" nillable="true" type="tns:ListarClientesDto" />
  <xs:complexType name="ListarPaginasPadreResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarPaginasPadreDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPaginasPadreResult" nillable="true" type="tns:ListarPaginasPadreResult" />
  <xs:complexType name="ArrayOfListarPaginasPadreDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarPaginasPadreDto" nillable="true" type="tns:ListarPaginasPadreDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarPaginasPadreDto" nillable="true" type="tns:ArrayOfListarPaginasPadreDto" />
  <xs:complexType name="ListarPaginasPadreDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="pag_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="pag_str_codmenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarPaginasPadreDto" nillable="true" type="tns:ListarPaginasPadreDto" />
  <xs:complexType name="ListarPaginasResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarPaginasDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPaginasResult" nillable="true" type="tns:ListarPaginasResult" />
  <xs:complexType name="ArrayOfListarPaginasDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarPaginasDto" nillable="true" type="tns:ListarPaginasDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarPaginasDto" nillable="true" type="tns:ArrayOfListarPaginasDto" />
  <xs:complexType name="ListarPaginasDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="pag_bit_activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="pag_bit_externo" type="xs:boolean" />
      <xs:element minOccurs="0" name="pag_int_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_int_nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_int_secuencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_attributes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_codmenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_codmenu_padre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_controller" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_tipomenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarPaginasDto" nillable="true" type="tns:ListarPaginasDto" />
  <xs:complexType name="ListarRolesAsignablesResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarRolesAsignablesDto" />
          <xs:element minOccurs="0" name="totalregistros" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarRolesAsignablesResult" nillable="true" type="tns:ListarRolesAsignablesResult" />
  <xs:complexType name="ArrayOfListarRolesAsignablesDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarRolesAsignablesDto" nillable="true" type="tns:ListarRolesAsignablesDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarRolesAsignablesDto" nillable="true" type="tns:ArrayOfListarRolesAsignablesDto" />
  <xs:complexType name="ListarRolesAsignablesDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="rol_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="rol_str_alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rol_str_descrip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarRolesAsignablesDto" nillable="true" type="tns:ListarRolesAsignablesDto" />
  <xs:complexType name="ListarRolesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q13:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfRolDTO" />
          <xs:element minOccurs="0" name="totalregistros" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarRolesResult" nillable="true" type="tns:ListarRolesResult" />
  <xs:complexType name="ListarSistemasResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarSistemasDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarSistemasResult" nillable="true" type="tns:ListarSistemasResult" />
  <xs:complexType name="ArrayOfListarSistemasDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarSistemasDto" nillable="true" type="tns:ListarSistemasDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarSistemasDto" nillable="true" type="tns:ArrayOfListarSistemasDto" />
  <xs:complexType name="ListarSistemasDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="pag_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="pag_int_secuencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_codmenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarSistemasDto" nillable="true" type="tns:ListarSistemasDto" />
  <xs:complexType name="ListarUsuarioAreaResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfUsuarioAreaDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarUsuarioAreaResult" nillable="true" type="tns:ListarUsuarioAreaResult" />
  <xs:complexType name="ArrayOfUsuarioAreaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioAreaDTO" nillable="true" type="tns:UsuarioAreaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioAreaDTO" nillable="true" type="tns:ArrayOfUsuarioAreaDTO" />
  <xs:complexType name="UsuarioAreaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CO_USUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr_str_apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr_str_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioAreaDTO" nillable="true" type="tns:UsuarioAreaDTO" />
  <xs:complexType name="ListarUsuariosDashBoardResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarUsuariosDto" />
          <xs:element minOccurs="0" name="totalregistros" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarUsuariosDashBoardResult" nillable="true" type="tns:ListarUsuariosDashBoardResult" />
  <xs:complexType name="ArrayOfListarUsuariosDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarUsuariosDto" nillable="true" type="tns:ListarUsuariosDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarUsuariosDto" nillable="true" type="tns:ArrayOfListarUsuariosDto" />
  <xs:complexType name="ListarUsuariosDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="NO_AREA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NO_EMPRESA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nro_roles" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="rol_str_alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr_dat_fecregistro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="usr_dat_fecvctopwd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="usr_dat_ultfecbloqueo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="usr_dat_ultfeclogin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="usr_int_aprobado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="usr_int_bloqueado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="usr_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="usr_int_numintentos" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="usr_str_apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr_str_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr_str_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usr_str_tipoacceso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarUsuariosDto" nillable="true" type="tns:ListarUsuariosDto" />
  <xs:complexType name="ListarUsuariosResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarUsuariosDto" />
          <xs:element minOccurs="0" name="totalregistros" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarUsuariosResult" nillable="true" type="tns:ListarUsuariosResult" />
  <xs:complexType name="ObtenerDatosBasicosUsuarioResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="usr_int_id" type="xs:int" />
          <xs:element minOccurs="0" name="usr_str_apellidos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerDatosBasicosUsuarioResult" nillable="true" type="tns:ObtenerDatosBasicosUsuarioResult" />
  <xs:complexType name="ObtenerPaginaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q14:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="cantidad" type="xs:int" />
          <xs:element minOccurs="0" name="pag_bit_activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="pag_bit_externo" type="xs:boolean" />
          <xs:element minOccurs="0" name="pag_int_id" type="xs:int" />
          <xs:element minOccurs="0" name="pag_int_secuencia" type="xs:int" />
          <xs:element minOccurs="0" name="pag_str_action" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_attributes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_codmenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_codmenu_padre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_controller" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_descrip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_tipomenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_url" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerPaginaResult" nillable="true" type="tns:ObtenerPaginaResult" />
  <xs:complexType name="ObtenerPasswordResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="usr_str_nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerPasswordResult" nillable="true" type="tns:ObtenerPasswordResult" />
  <xs:complexType name="ObtenerSistemaResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="pag_bit_activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="pag_int_id" type="xs:int" />
          <xs:element minOccurs="0" name="pag_str_attributes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_codmenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_descrip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_url" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerSistemaResult" nillable="true" type="tns:ObtenerSistemaResult" />
  <xs:complexType name="ValidarExisteUsuarioResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EliminarPaginaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Existe" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidarExisteUsuarioResult" nillable="true" type="tns:ValidarExisteUsuarioResult" />
  <xs:complexType name="ArrayOfBuscarPaginasDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuscarPaginasDto" nillable="true" type="tns:BuscarPaginasDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuscarPaginasDto" nillable="true" type="tns:ArrayOfBuscarPaginasDto" />
  <xs:complexType name="BuscarPaginasDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="pag_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="pag_int_nivel" type="xs:int" />
      <xs:element minOccurs="0" name="pag_int_secuencia" type="xs:int" />
      <xs:element minOccurs="0" name="pag_str_action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_attributes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_codmenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_controller" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_tipomenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuscarPaginasDto" nillable="true" type="tns:BuscarPaginasDto" />
</xs:schema>