Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices332.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandContracts.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandContracts.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Command">
    <xs:sequence>
      <xs:element minOccurs="0" name="Transaccion" type="tns:Command.TipoTransaccion" />
      <xs:element minOccurs="0" name="idPublico" type="xs:int" />
      <xs:element minOccurs="0" name="idSesion" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuarioCrea" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuarioModifica" type="xs:int" />
      <xs:element minOccurs="0" name="sesionPublica" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Command" nillable="true" type="tns:Command" />
  <xs:simpleType name="Command.TipoTransaccion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Insertar" />
      <xs:enumeration value="Modificar" />
      <xs:enumeration value="Eliminar" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Command.TipoTransaccion" nillable="true" type="tns:Command.TipoTransaccion" />
  <xs:complexType name="CommandResult">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="CommandResult" nillable="true" type="tns:CommandResult" />
  <xs:complexType name="CommandFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandErrors" nillable="true" type="tns:ArrayOfCommandError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandFault" nillable="true" type="tns:CommandFault" />
  <xs:complexType name="ArrayOfCommandError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommandError" nillable="true" type="tns:CommandError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommandError" nillable="true" type="tns:ArrayOfCommandError" />
  <xs:complexType name="CommandError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandError" nillable="true" type="tns:CommandError" />
</xs:schema>