Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices3339.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Cliente.Parameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Cliente.Parameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/GTRMServices.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ClienteDireccionLeerParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idClienteDireccion" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClienteDireccionLeerParameter" nillable="true" type="tns:ClienteDireccionLeerParameter" />
  <xs:complexType name="ClienteDireccionListarParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClienteDireccionListarParameter" nillable="true" type="tns:ClienteDireccionListarParameter" />
  <xs:complexType name="ClienteLeerCorreoParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClienteLeerCorreoParameter" nillable="true" type="tns:ClienteLeerCorreoParameter" />
  <xs:complexType name="ClienteLeerParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q4:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClienteLeerParameter" nillable="true" type="tns:ClienteLeerParameter" />
  <xs:complexType name="ClienteLoginParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q5:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClienteLoginParameter" nillable="true" type="tns:ClienteLoginParameter" />
</xs:schema>