Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices3334.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Book.Parameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Book.Parameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/GTRMServices.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:import schemaLocation="http://localhost:8082/GTRMServices.svc?xsd=xsd31" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Book" />
  <xs:complexType name="BookLeerParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BookLeerParameter" nillable="true" type="tns:BookLeerParameter" />
  <xs:complexType name="BookSearchParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryParameter">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Book" minOccurs="0" name="criteriosBusqueda" nillable="true" type="q3:ArrayOfCriterioBusqueda" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BookSearchParameter" nillable="true" type="tns:BookSearchParameter" />
  <xs:complexType name="BookListarParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q4:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="criterioBusqueda" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idColeccion" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idEditorial" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idEspecialdiad" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="opcionFiltro" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BookListarParameter" nillable="true" type="tns:BookListarParameter" />
  <xs:complexType name="BookFiltroParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q5:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idEditorial" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idEspecialdiad" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="opcionFiltro" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BookFiltroParameter" nillable="true" type="tns:BookFiltroParameter" />
</xs:schema>