Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices3330.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Seguridad.Parameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Seguridad.Parameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/GTRMServices.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="AutorizacionRolParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="numero_op_despachador" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numero_orden_retiro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numero_orden_salida" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ruc_agencia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipo_usuario" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AutorizacionRolParameter" nillable="true" type="tns:AutorizacionRolParameter" />
  <xs:complexType name="BuscarPaginasParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoMenuPadre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_codmenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="registro_fin" type="xs:int" />
          <xs:element minOccurs="0" name="registro_inicio" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuscarPaginasParameter" nillable="true" type="tns:BuscarPaginasParameter" />
  <xs:complexType name="BuscarSistemasParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="registro_fin" type="xs:int" />
          <xs:element minOccurs="0" name="registro_inicio" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuscarSistemasParameter" nillable="true" type="tns:BuscarSistemasParameter" />
  <xs:complexType name="ListarAutorizadorAreaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q4:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="CO_AREA" type="xs:int" />
          <xs:element minOccurs="0" name="CO_ROL" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarAutorizadorAreaParameter" nillable="true" type="tns:ListarAutorizadorAreaParameter" />
  <xs:complexType name="ListarOpcionesPaginaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q5:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoPagina" type="xs:int" />
          <xs:element minOccurs="0" name="CodigoRol" type="xs:int" />
          <xs:element minOccurs="0" name="RegistroFin" type="xs:int" />
          <xs:element minOccurs="0" name="RegistroInicio" type="xs:int" />
          <xs:element minOccurs="0" name="TotalRegistros" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarOpcionesPaginaParameter" nillable="true" type="tns:ListarOpcionesPaginaParameter" />
  <xs:complexType name="ListarPaginaRolParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q6:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoRol" type="xs:int" />
          <xs:element minOccurs="0" name="RegistroFin" type="xs:int" />
          <xs:element minOccurs="0" name="RegistroInicio" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPaginaRolParameter" nillable="true" type="tns:ListarPaginaRolParameter" />
  <xs:complexType name="ListarTipoMenuParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q7:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTipoMenuParameter" nillable="true" type="tns:ListarTipoMenuParameter" />
  <xs:complexType name="ObtenerOpcionesParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q8:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoOpcion" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerOpcionesParameter" nillable="true" type="tns:ObtenerOpcionesParameter" />
  <xs:complexType name="ListarOpcionesParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q9:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoPagina" type="xs:int" />
          <xs:element minOccurs="0" name="NombrePagina" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegistroFinal" type="xs:int" />
          <xs:element minOccurs="0" name="RegistroInicial" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarOpcionesParameter" nillable="true" type="tns:ListarOpcionesParameter" />
  <xs:complexType name="ListarRolesDashBoardParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q10:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="registro_fin" type="xs:int" />
          <xs:element minOccurs="0" name="registro_inicio" type="xs:int" />
          <xs:element minOccurs="0" name="rol_str_alias" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarRolesDashBoardParameter" nillable="true" type="tns:ListarRolesDashBoardParameter" />
  <xs:complexType name="ListarRolesTodoParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q11:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarRolesTodoParameter" nillable="true" type="tns:ListarRolesTodoParameter" />
  <xs:complexType name="ObtenerRolParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q12:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="CO_ROL" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerRolParameter" nillable="true" type="tns:ObtenerRolParameter" />
  <xs:complexType name="ListarUsuarioAreaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q13:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="CO_AREA" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarUsuarioAreaParameter" nillable="true" type="tns:ListarUsuarioAreaParameter" />
  <xs:complexType name="ListarUsuariosDashBoardParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q14:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="registro_fin" type="xs:int" />
          <xs:element minOccurs="0" name="registro_inicio" type="xs:int" />
          <xs:element minOccurs="0" name="rol_int_id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="usr_str_nombre_apellido" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarUsuariosDashBoardParameter" nillable="true" type="tns:ListarUsuariosDashBoardParameter" />
  <xs:complexType name="ListarUsuariosPorAreaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q15:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="CO_AREA" type="xs:int" />
          <xs:element minOccurs="0" name="prm_regfin" type="xs:int" />
          <xs:element minOccurs="0" name="prm_reginicio" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarUsuariosPorAreaParameter" nillable="true" type="tns:ListarUsuariosPorAreaParameter" />
  <xs:complexType name="DesbloquearUsuarioParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q16:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DesbloquearUsuarioParameter" nillable="true" type="tns:DesbloquearUsuarioParameter" />
  <xs:complexType name="EliminarPaginaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q17:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdPagina" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EliminarPaginaParameter" nillable="true" type="tns:EliminarPaginaParameter" />
  <xs:complexType name="EliminarRolParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q18:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdRol" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EliminarRolParameter" nillable="true" type="tns:EliminarRolParameter" />
  <xs:complexType name="EliminarUsuarioParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q19:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EliminarUsuarioParameter" nillable="true" type="tns:EliminarUsuarioParameter" />
  <xs:complexType name="EncriptarPasswordParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q20:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="usr_int_id" type="xs:int" />
          <xs:element minOccurs="0" name="usr_str_password" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EncriptarPasswordParameter" nillable="true" type="tns:EncriptarPasswordParameter" />
  <xs:complexType name="GenerarPasswordParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q21:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GenerarPasswordParameter" nillable="true" type="tns:GenerarPasswordParameter" />
  <xs:complexType name="ListarClientesParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q22:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarClientesParameter" nillable="true" type="tns:ListarClientesParameter" />
  <xs:complexType name="ListarPaginasPadreParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q23:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPaginasPadreParameter" nillable="true" type="tns:ListarPaginasPadreParameter" />
  <xs:complexType name="ListarPaginasParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q24:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="pag_str_nombre" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPaginasParameter" nillable="true" type="tns:ListarPaginasParameter" />
  <xs:complexType name="ListarRolesAsignablesParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q25:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="int_rol_sin_asignar" type="xs:int" />
          <xs:element minOccurs="0" name="prm_regfin" type="xs:int" />
          <xs:element minOccurs="0" name="prm_reginicio" type="xs:int" />
          <xs:element minOccurs="0" name="rol_str_alias" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sis_str_siglas" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarRolesAsignablesParameter" nillable="true" type="tns:ListarRolesAsignablesParameter" />
  <xs:complexType name="ListarRolesParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q26:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="registro_fin" type="xs:int" />
          <xs:element minOccurs="0" name="registro_inicio" type="xs:int" />
          <xs:element minOccurs="0" name="rol_str_alias" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarRolesParameter" nillable="true" type="tns:ListarRolesParameter" />
  <xs:complexType name="ListarSistemasParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q27:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="sis_int_id" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarSistemasParameter" nillable="true" type="tns:ListarSistemasParameter" />
  <xs:complexType name="ListarUsuariosParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q28:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="registro_fin" type="xs:int" />
          <xs:element minOccurs="0" name="registro_inicio" type="xs:int" />
          <xs:element minOccurs="0" name="rol_int_id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="usr_str_nombre_apellido" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarUsuariosParameter" nillable="true" type="tns:ListarUsuariosParameter" />
  <xs:complexType name="ObtenerDatosBasicosUsuarioParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q29:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="usr_int_id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerDatosBasicosUsuarioParameter" nillable="true" type="tns:ObtenerDatosBasicosUsuarioParameter" />
  <xs:complexType name="ObtenerPaginaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q30="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q30:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="pag_int_id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerPaginaParameter" nillable="true" type="tns:ObtenerPaginaParameter" />
  <xs:complexType name="ObtenerPasswordPorUsuarioParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q31:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodUsuario" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerPasswordPorUsuarioParameter" nillable="true" type="tns:ObtenerPasswordPorUsuarioParameter" />
  <xs:complexType name="ObtenerPasswordParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q32="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q32:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="usr_str_email" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerPasswordParameter" nillable="true" type="tns:ObtenerPasswordParameter" />
  <xs:complexType name="ObtenerSistemaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q33="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q33:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="sis_int_id" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerSistemaParameter" nillable="true" type="tns:ObtenerSistemaParameter" />
  <xs:complexType name="ValidarExisteUsuarioParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q34="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q34:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="usr_str_email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidarExisteUsuarioParameter" nillable="true" type="tns:ValidarExisteUsuarioParameter" />
</xs:schema>