Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices3341.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Parametro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Parametro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfParametroDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParametroDTO" nillable="true" type="tns:ParametroDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParametroDTO" nillable="true" type="tns:ArrayOfParametroDTO" />
  <xs:complexType name="ParametroDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="idParametro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreParametro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valorParametro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametroDTO" nillable="true" type="tns:ParametroDTO" />
</xs:schema>