Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices3333.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Especialidad.Result" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Especialidad.Result" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/GTRMServices.svc?xsd=xsd44" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Especialidad" />
  <xs:import schemaLocation="http://localhost:8082/GTRMServices.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="LeerEspecialidadResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Especialidad" minOccurs="0" name="Hit" nillable="true" type="q2:EspecialidadDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LeerEspecialidadResult" nillable="true" type="tns:LeerEspecialidadResult" />
  <xs:complexType name="ListarTodoEspecialidadResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryResult">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Especialidad" minOccurs="0" name="Hits" nillable="true" type="q4:ArrayOfEspecialidadDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTodoEspecialidadResult" nillable="true" type="tns:ListarTodoEspecialidadResult" />
  <xs:complexType name="ListarEspecialidadResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q5:QueryResult">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Especialidad" minOccurs="0" name="Hits" nillable="true" type="q6:ArrayOfEspecialidadDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarEspecialidadResult" nillable="true" type="tns:ListarEspecialidadResult" />
</xs:schema>