Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices3350.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.General" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.General" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDistritoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistritoDTO" nillable="true" type="tns:DistritoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistritoDTO" nillable="true" type="tns:ArrayOfDistritoDTO" />
  <xs:complexType name="DistritoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoDistrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreDistrito" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistritoDTO" nillable="true" type="tns:DistritoDTO" />
  <xs:complexType name="ArrayOfProvinciaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProvinciaDTO" nillable="true" type="tns:ProvinciaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProvinciaDTO" nillable="true" type="tns:ArrayOfProvinciaDTO" />
  <xs:complexType name="ProvinciaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreProvincia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProvinciaDTO" nillable="true" type="tns:ProvinciaDTO" />
  <xs:complexType name="ArrayOfDepartamentoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartamentoDTO" nillable="true" type="tns:DepartamentoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartamentoDTO" nillable="true" type="tns:ArrayOfDepartamentoDTO" />
  <xs:complexType name="DepartamentoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreDepartamento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartamentoDTO" nillable="true" type="tns:DepartamentoDTO" />
</xs:schema>