Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices3332.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Producto.Parameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Producto.Parameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/GTRMServices.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarProductoPorMarcaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdMarca" type="xs:int" />
          <xs:element minOccurs="0" name="RegistroFin" type="xs:int" />
          <xs:element minOccurs="0" name="RegistroInicio" type="xs:int" />
          <xs:element minOccurs="0" name="dtDistribuidor" nillable="true">
            <xs:complexType>
              <xs:annotation>
                <xs:appinfo>
                  <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                </xs:appinfo>
              </xs:annotation>
              <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarProductoPorMarcaParameter" nillable="true" type="tns:ListarProductoPorMarcaParameter" />
  <xs:complexType name="ListarProductoPorCategoriaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdCategoria" type="xs:int" />
          <xs:element minOccurs="0" name="RegistroFin" type="xs:int" />
          <xs:element minOccurs="0" name="RegistroInicio" type="xs:int" />
          <xs:element minOccurs="0" name="dtDistribuidor" nillable="true">
            <xs:complexType>
              <xs:annotation>
                <xs:appinfo>
                  <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                </xs:appinfo>
              </xs:annotation>
              <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarProductoPorCategoriaParameter" nillable="true" type="tns:ListarProductoPorCategoriaParameter" />
</xs:schema>