Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices335.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandContracts.Xmarket.Carrito.Output" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandContracts.Xmarket.Carrito.Output" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/GTRMServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Common" />
  <xs:import schemaLocation="http://localhost:8082/GTRMServices.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Xmarket.Carrito" />
  <xs:complexType name="ActualizarProductoCarritoOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q1:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CantidadProductos" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActualizarProductoCarritoOutput" nillable="true" type="tns:ActualizarProductoCarritoOutput" />
  <xs:complexType name="EliminarProductoCarritoOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q2:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CantidadProductos" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EliminarProductoCarritoOutput" nillable="true" type="tns:EliminarProductoCarritoOutput" />
  <xs:complexType name="CarritoAgregarOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q3:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CantidadProductos" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommandContracts.Xmarket.Carrito" minOccurs="0" name="Observacion" nillable="true" type="q4:ArrayOfObservacionCarrito" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CarritoAgregarOutput" nillable="true" type="tns:CarritoAgregarOutput" />
  <xs:complexType name="CarritoRegistrarOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q5:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CantidadProducto" type="xs:int" />
          <xs:element minOccurs="0" name="CantidadProductos" type="xs:int" />
          <xs:element minOccurs="0" name="Estado" type="xs:int" />
          <xs:element minOccurs="0" name="IdCarrito" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CommandContracts.Xmarket.Carrito" minOccurs="0" name="Observacion" nillable="true" type="q6:ArrayOfObservacionCarrito" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CarritoRegistrarOutput" nillable="true" type="tns:CarritoRegistrarOutput" />
  <xs:complexType name="RegistrarPedidoOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q7:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idPedido" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrarPedidoOutput" nillable="true" type="tns:RegistrarPedidoOutput" />
  <xs:complexType name="RegistrarClienteSinSesionOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q8:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idUsuarioLibre" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrarClienteSinSesionOutput" nillable="true" type="tns:RegistrarClienteSinSesionOutput" />
</xs:schema>