Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Common.Seguridad.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common.Seguridad.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/GTRMServices.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarMenusxRolesAdminResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfMenusxRolesDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarMenusxRolesAdminResult" nillable="true" type="tns:ListarMenusxRolesAdminResult" />
  <xs:complexType name="ArrayOfMenusxRolesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenusxRolesDTO" nillable="true" type="tns:MenusxRolesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenusxRolesDTO" nillable="true" type="tns:ArrayOfMenusxRolesDTO" />
  <xs:complexType name="MenusxRolesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="pag_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="pag_int_nivel" type="xs:int" />
      <xs:element minOccurs="0" name="pag_int_secuencia" type="xs:int" />
      <xs:element minOccurs="0" name="pag_str_action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_attributes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_codmenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_codmenu_padre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_controller" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_tipomenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rol_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="sis_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="srp_seleccion" type="xs:int" />
      <xs:element minOccurs="0" name="srp_str_codpermiso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenusxRolesDTO" nillable="true" type="tns:MenusxRolesDTO" />
  <xs:complexType name="ListarMenusxRolesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfMenusxRolesDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarMenusxRolesResult" nillable="true" type="tns:ListarMenusxRolesResult" />
  <xs:complexType name="VerificarOpcionesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Estado" type="xs:int" />
          <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VerificarOpcionesResult" nillable="true" type="tns:VerificarOpcionesResult" />
</xs:schema>