Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices3325.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Especialidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Xmarket.Especialidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EspecialidadDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoEspecialidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreaEspecialidad" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaModificaEspecialidad" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="grupoEspecialidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuarioCreaEspecialidad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuarioModificaEspecialidad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ordenEspecialidad" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EspecialidadDTO" nillable="true" type="tns:EspecialidadDTO" />
  <xs:complexType name="ArrayOfEspecialidadDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EspecialidadDTO" nillable="true" type="tns:EspecialidadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEspecialidadDTO" nillable="true" type="tns:ArrayOfEspecialidadDTO" />
</xs:schema>