Xmarket/web/ServiceAgents.Xmarket/Service References/XmarketServices/GTRMServices333.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandContracts.Xmarket.Sesion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandContracts.Xmarket.Sesion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/GTRMServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Common" />
  <xs:complexType name="CrearSesionCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q1:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IpPublica" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codigoSesionPublico" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idSessionWeb" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="requestVerificationToken" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CrearSesionCommand" nillable="true" type="tns:CrearSesionCommand" />
</xs:schema>